<div class="form">
    <h2>Assignment Charging Stations</h2>
    <h3>Please insert the latitude and longitude of the location to get the 10 nearest charging stations:</h3>
    <form class="container">
        <label for="latitude">Latitude:</label><br>
        <input type="text" id="latitude" name="latitude" ng-model="latitude"><br>
        <label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longitude" ng-model="longitude"><br><br>
        <input type="submit" value="Get Charging Stations" ng-click="getNearestChargingStations()">
    </form>
</div><br>
<div id="spinner" ng-show="loading"></div>
<div id="dvMap" ng-show="showMap"></div>

